<!-- Page Header Start -->
@if (showPageHeader){
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
  <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
    <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">{{ contact.title }}</h1>
    <div class="d-inline-flex mb-lg-5">
      <p class="m-0 text-white"><a class="text-white" href="">{{ contact.urlPrevious }}</a></p>
      <p class="m-0 text-white px-2">/</p>
      <p class="m-0 text-white">{{ contact.urlCurrent }}</p>
    </div>
  </div>
</div>
}
<!-- Page Header End -->

<!-- Contact Start -->
<div class="container-fluid pt-5" id="contact">
  <div class="container">
    <div class="section-title">
      <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">{{ contact.title }}</h4>
      <h1 class="display-4">{{ contact.description }}</h1>
    </div>
    <div class="row px-3 pb-2">
      <div class="col-sm-4 text-center mb-3">
        <i class="fa fa-2x fa-map-marker-alt mb-3 text-primary"></i>
        <h4 class="font-weight-bold">{{ contact.titleAdresse }}</h4>
        <p>{{ contact.detailAdresse }}</p>
      </div>
      <div class="col-sm-4 text-center mb-3">
        <i class="fa fa-2x fa-phone-alt mb-3 text-primary"></i>
        <h4 class="font-weight-bold">{{ contact.titleTel }}</h4>
        <p>{{ contact.detailTel }}</p>
      </div>
      <div class="col-sm-4 text-center mb-3">
        <i class="far fa-2x fa-envelope mb-3 text-primary"></i>
        <h4 class="font-weight-bold">{{ contact.titleEmail }}</h4>
        <p>{{ contact.detailEmail }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pb-5">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2783.6848337893343!2d4.870311977147729!3d45.75746397108041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c1d6759b3edf%3A0x604df2639e417308!2s131%20Rue%20Antoine%20Charial%2C%2069003%20Lyon!5e0!3m2!1sfr!2sfr!4v1717748628410!5m2!1sfr!2sfr" width="100%" height="443px" style="border:0;" allowfullscreen="" loading="lazy" aria-hidden="false" tabindex="0" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="col-md-6 pb-5">
        <div class="contact-form">
          <div id="success"></div>
          <form (ngSubmit)="onSubmit()" #contactForm="ngForm" name="sentMessage" novalidate="novalidate">
            <div class="control-group">
              <input type="text" name="name" [(ngModel)]="formData.name" #name="ngModel" class="form-control bg-transparent p-4" placeholder="{{contact.nomForm}}"
                     required="required" data-validation-required-message="Veuillez entrer votre nom" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="email" name="email" [(ngModel)]="formData.email" #email="ngModel" class="form-control bg-transparent p-4" placeholder="{{contact.emailForm}}"
                     required="required" data-validation-required-message="Veuillez entrer votre email" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <input type="text" name="email" [(ngModel)]="formData.subject" #subject="ngModel" class="form-control bg-transparent p-4"  placeholder="{{contact.subjectForm}}"
                     required="required" data-validation-required-message="Veuillez entrer un sujet" />
              <p class="help-block text-danger"></p>
            </div>
            <div class="control-group">
              <textarea name="email" [(ngModel)]="formData.message"  #message="ngModel" class="form-control bg-transparent py-3 px-4" rows="5" placeholder="{{contact.messageForm}}"
                        required="required" data-validation-required-message="Veuillez entrer votre message"></textarea>
              <p class="help-block text-danger"></p>
            </div>
            <div>
              <button class="btn btn-primary font-weight-bold py-3 px-5" type="submit" >Envoyer le Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
