<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5">
  <div id="blog-carousel" class="carousel slide overlay-bottom" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <video class="w-100" autoplay loop muted>
          <source src="./assets/video/carousel-v-3.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <h2 class="text-primary font-weight-medium m-0">Nous servons</h2>
          <h1 class="display-1 text-white m-0">DU CAFÉ</h1>
          <h2 class="text-white m-0">* DEPUIS 1950 *</h2>
        </div>
      </div>
      <div class="carousel-item">
        <video class="w-100" autoplay loop muted>
          <source src="./assets/video/carousel-v-2.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <h2 class="text-primary font-weight-medium m-0">Nous servons</h2>
          <h1 class="display-1 text-white m-0">DU CAFÉ</h1>
          <h2 class="text-white m-0">* DEPUIS 1950 *</h2>
        </div>
      </div>
      <div class="carousel-item">
        <video class="w-100" autoplay loop muted>
          <source src="./assets/video/carousel-v-1.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video>
        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
          <h2 class="text-primary font-weight-medium m-0">Nous servons</h2>
          <h1 class="display-1 text-white m-0">DU CAFÉ</h1>
          <h2 class="text-white m-0">* DEPUIS 1950 *</h2>
        </div>
      </div>
    </div>
    <a href="#blog-carousel" class="carousel-control-prev" data-slide="prev"> <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#blog-carousel" class="carousel-control-next" data-slide="next"> <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
<!-- Carousel End -->

<!-- About Start -->
<app-about [showPageHeader]="false"></app-about>
<!-- About End -->

<!-- Service Start -->
<app-service [showPageHeader]="false"></app-service>
<!-- Service End -->

<!-- Offer Start -->
<app-offer></app-offer>
<!-- Offer End -->

<!-- Menu Start -->
<app-menu [showPageHeader]="false"></app-menu>
<!-- Menu End -->

<!-- Reservation Start -->
<app-reservation [showPageHeader]="false"></app-reservation>
<!-- Reservation End -->

<!-- Testimonial Start -->
<app-testimonial [showPageHeader]="false"></app-testimonial>
<!-- Testimonial End -->

<!-- Contact Start -->
<app-contact [showPageHeader]="false"></app-contact>
<!-- Contact End -->
