<!-- Page Header Start -->
<div *ngIf="showPageHeader" class="container-fluid page-header mb-5 position-relative overlay-bottom">
  <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
    <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">{{ about.title }}</h1>
    <div class="d-inline-flex mb-lg-5">
      <p class="m-0 text-white"><a class="text-white" href="">{{ about.urlPrevious }}</a></p>
      <p class="m-0 text-white px-2">/</p>
      <p class="m-0 text-white">{{about.urlCurrent}}</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid py-5" id="about">
  <div class="container">
    <div class="section-title">
      <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">{{ about.title }}</h4>
      <h1 class="display-4">{{ about.description }}</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 py-0 py-lg-5">
        <h1 class="mb-3">{{about.titleDR}}</h1>
        <h5 class="mb-3">{{about.descriptionDR}}</h5>
        <p>{{about.texteDR}}</p>
        <a href="#" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">{{about.btn}}</a>
      </div>
      <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="position-relative w-100 h-100" src="./assets/img/about.png" style="object-fit: cover;" alt="">
        </div>
      </div>
      <div class="col-lg-4 py-0 py-lg-5">
        <h1 class="mb-3">{{about.titleGC}}</h1>
        <p>{{about.texteGC}}</p>
        <h5 class="mb-3"><i class="fa {{about.icon}} text-primary mr-3"></i>{{ about.checkTexte01 }}</h5>
        <h5 class="mb-3"><i class="fa {{about.icon}} text-primary mr-3"></i>{{ about.checkTexte02 }}</h5>
        <h5 class="mb-3"><i class="fa {{about.icon}} text-primary mr-3"></i>{{ about.checkTexte03 }}</h5>
        <a href="" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">{{about.btn}}</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
