<!-- Page Header Start -->
<div *ngIf="showPageHeader" class="container-fluid page-header mb-5 position-relative overlay-bottom">
  <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
    <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">À propos de nous</h1>
    <div class="d-inline-flex mb-lg-5">
      <p class="m-0 text-white"><a class="text-white" href="">Accueil</a></p>
      <p class="m-0 text-white px-2">/</p>
      <p class="m-0 text-white">À propos de nous</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid py-5" id="about">
  <div class="container">
    <div class="section-title">
      <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">À propos de nous</h4>
      <h1 class="display-4">Servir Depuis 1950</h1>
    </div>
    <div class="row">
      <div class="col-lg-4 py-0 py-lg-5">
        <h1 class="mb-3">Notre Histoire</h1>
        <h5 class="mb-3">Depuis des décennies, nous nous engageons à offrir à nos clients des moments de plaisir et de détente inoubliables.</h5>
        <p>Depuis nos débuts, notre passion pour le café nous pousse à rechercher les meilleures plantations et à perfectionner nos méthodes de torréfaction. Chaque tasse que nous servons est le fruit de notre engagement envers la qualité et l'authenticité. Nous croyons que le café est plus qu'une simple boisson, c'est une expérience, un moment de partage et de découverte. Venez découvrir notre histoire et laissez-vous séduire par nos arômes uniques et nos saveurs incomparables.</p>
        <a href="#" class="btn btn-secondary font-weight-bold py-2 px-4 mt-2">En savoir plus</a>
      </div>
      <div class="col-lg-4 py-5 py-lg-0" style="min-height: 500px;">
        <div class="position-relative h-100">
          <img class="position-relative w-100 h-100" src="./assets/img/about.png" style="object-fit: cover;" alt="">
        </div>
      </div>
      <div class="col-lg-4 py-0 py-lg-5">
        <h1 class="mb-3">Notre Vision</h1>
        <p>Notre vision est de créer un espace où chaque visiteur peut se sentir chez lui, déguster des produits de qualité exceptionnelle, et vivre une expérience sensorielle unique. Nous nous efforçons de promouvoir la durabilité et l'authenticité dans chaque tasse de café que nous servons. Rejoignez-nous dans cette aventure passionnante et découvrez la différence que notre engagement peut faire dans chaque gorgée.</p>
        <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Offrir une qualité exceptionnelle</h5>
        <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Promouvoir la durabilité</h5>
        <h5 class="mb-3"><i class="fa fa-check text-primary mr-3"></i>Créer une expérience unique</h5>
        <a href="" class="btn btn-primary font-weight-bold py-2 px-4 mt-2">En savoir plus</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
