<!-- Navbar Start -->
<div class="container-fluid p-0 nav-bar">
  <nav class="navbar navbar-expand-lg bg-none navbar-dark py-3">
    <a routerLink="/accueil" routerLinkActive="active" ariaCurrentWhenActive="page" class="navbar-brand px-lg-4 m-0">
      <img src="./assets/img/logo.png" alt="ARÔTERRA Logo" class="img-fluid logo">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
      <div class="navbar-nav m1-auto p-4">
        <a routerLink="/accueil" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link active">Accueil</a>
        <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link">À propos</a>
        <a routerLink="/service" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link">Service</a>
        <a routerLink="/menu" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link">Menu</a>
        <a routerLink="/reservation" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link">Réservation</a>

        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Témoignages</a>
          <div class="dropdown-menu text-capitalize">
            <a routerLink="/testimonial" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-item">Voir Témoignages</a>
            <a routerLink="/avis-testimonial" routerLinkActive="active" ariaCurrentWhenActive="page" class="dropdown-item">Déposer un Avis</a>
          </div>
        </div>

        <a routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link">Contact</a>
        <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" class="nav-item nav-link login-nav-link" >
          <span class="user_icon"><i class="fa fa-user" aria-hidden="true"></i></span>Login
        </a>
         </div>
       </div>
     </nav>
   </div>

   <!-- Navbar End -->
