<div class="container-fluid">

  <!-- Page Heading -->
  <div class="dash d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Kanban Board</h1>
    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="NewBoard()"><i
      class="fas fa-plus fa-sm text-white-50"></i>  Nouveau Tableau</a>
  </div>
  <p class="mb-4">Sur cette page, nous gérons les témoignages partagés par nos clients pour notre coffee shop. Consultez ou bien supprimez les avis afin de valoriser l'expérience client et maintenir une image positive et authentique de notre établissement.</p>
  <app-board></app-board>
</div>
