<div class="container-fluid">

  <!-- Page Heading -->
  <div class="dash d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Ticket "Modèle Kanban"</h1>
    <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" (click)="NewBoard()"><i
      class="fas fa-plus fa-sm text-white-50"></i>  Nouveau Tableau</a>
  </div>
  <p class="mb-4 info">Sur cette page, nous suivons l'évolution des corrections de bugs et des améliorations apportées à l'application. Tous les utilisateurs peuvent y soumettre des demandes afin d'améliorer continuellement l'expérience et la performance de l'application.</p>
  <app-board></app-board>
</div>
