<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Consulter Menu & Tarifs</h1>
  <p class="mb-4">Cette liste répertorie les réservations effectuées par les clients ou par l'administrateur via un appel téléphonique. Dans cet espace, nous examinons chaque demande de réservation pour ensuite décider de la valider ou de la refuser, en fonction des critères établis et des disponibilités.</p>


  <!-- DataTables for Petit-déjeuner -->
  <app-article-table
    [menuList]="petitDejeunerList"
    tableTitle="Petit-déjeuner"
    tableImage="./assets/img/tab-icon-03.png">
  </app-article-table>

  <!-- DataTables for Boissons Chaudes -->
  <app-article-table
    [menuList]="boissonsChaudesList"
    tableTitle="Boissons Chaudes"
    tableImage="./assets/img/tab-icon-01.png">
  </app-article-table>

  <!-- DataTables for Boissons Froides -->
  <app-article-table
    [menuList]="boissonsFroidesList"
    tableTitle="Boissons Froides"
    tableImage="./assets/img/tab-icon-02.png">
  </app-article-table>

</div>
<!-- /.container-fluid -->
