@if(showPageHeader){
<app-navbar></app-navbar>
}
<!-- Page Header Start -->
@if(showPageHeader){
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
  <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
    <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">{{reservation.title}}</h1>
    <div class="d-inline-flex mb-lg-5">
      <p class="m-0 text-white"><a class="text-white" href="">{{ reservation.urlPrevious }}</a></p>
      <p class="m-0 text-white px-2">/</p>
      <p class="m-0 text-white">{{reservation.urlCurrent}}</p>
    </div>
  </div>
</div>
}
<!-- Page Header End -->

<!-- Reservation Start -->
<div class="container-fluid my-5" id="reserve">
  <div class="container">
    <div class="reservation position-relative overlay-top overlay-bottom">
      <div class="row align-items-center">
        <div class="col-lg-6 my-5 my-lg-0">
          <div class="p-5">
            <div class="mb-4">
              <h1 class="display-3 text-primary">{{reservation.reductionTitre}}</h1>
              <h1 class="text-white">{{reservation.reductionDetail}}</h1>
            </div>
            <p class="text-white">{{reservation.reductionTexte}}</p>
            <ul class="list-inline text-white m-0">
              @for (reducPoint of reservation.reductionPoint; track reducPoint){
              <li class="py-2"><i class="fa {{reducPoint.icon}} text-primary mr-3"></i>{{reducPoint.point}}</li>
              }
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
            <h1 class="text-white mb-4 mt-5">{{reservation.titreForm}}</h1>
            <form (ngSubmit)="onSubmit()" #reservationForm="ngForm" class="mb-5">
              <div class="form-group">
                <input type="text" name="name" [(ngModel)]="formData.nom" class="form-control bg-transparent border-primary p-4" placeholder="{{reservation.nomForm}}" required />
              </div>
              <div class="form-group">
                <input type="text" name="prenom" [(ngModel)]="formData.prenom" class="form-control bg-transparent border-primary p-4" placeholder="{{reservation.prenomForm}}" required />
              </div>
              <div class="form-group">
                <input type="email" name="email" [(ngModel)]="formData.email" class="form-control bg-transparent border-primary p-4" placeholder="{{reservation.emailForm}}" required />
              </div>
              <div class="form-group">
                <input type="tel" name="tel" [(ngModel)]="formData.tel" class="form-control bg-transparent border-primary p-4" placeholder="{{reservation.telForm}}" required />
              </div>
              <div class="form-group">
                <div class="date" id="date" data-target-input="nearest">
                  <input type="text" name="date" [(ngModel)]="formData.date" placeholder="{{reservation.dateForm}}" (click)="d.toggle()" class="form-control bg-transparent border-primary p-4" ngbDatepicker #d="ngbDatepicker"/>
                </div>
              </div>
              <div class="form-group">
                <div class="time" id="time" data-target-input="nearest">
                  <ngb-timepicker [(ngModel)]="formData.time" name="time" class="form-control-timepicker"/>
                </div>
              </div>
              <div class="form-group">
                <select name="people" [(ngModel)]="formData.people" class="custom-select bg-transparent border-primary px-4" style="height: 49px;">
                  <option value="" selected disabled>{{reservation.personneForm}}</option>
                  @for (persOption of reservation.personneOption; track persOption){
                  <option [value]="persOption.id">{{ persOption.texte }}</option>
                  }
                </select>
              </div>
              <div class="form-group">
                <textarea type="text" name="designation" [(ngModel)]="formData.designation" class="form-control bg-transparent border-primary p-4" placeholder="{{reservation.designationForm}}" required ></textarea>
              </div>
              <div>
                <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Réserver maintenant</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Reservation End -->
@if(showPageHeader){
<app-footer></app-footer>
}
