<!-- Reservation Start -->
<div class="container-fluid my-5" id="reserve">
  <div class="container">
    <div class="reservation position-relative overlay-top overlay-bottom">
      <div class="row align-items-center">
        <div class="col-lg-6 my-5 my-lg-0">
          <div class="p-5">
            <div class="mb-4">
              <h1 class="display-3 text-primary">30% DE RÉDUCTION</h1>
              <h1 class="text-white">Pour les réservations en ligne</h1>
            </div>
            <p class="text-white">Profitez de notre offre exclusive pour les réservations en ligne. Réservez dès maintenant et bénéficiez de 30% de réduction sur votre table.</p>
            <ul class="list-inline text-white m-0">
              <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Réduction exclusive</li>
              <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Réservation facile et rapide</li>
              <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Confort garanti</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
            <h1 class="text-white mb-4 mt-5">Réservez votre table</h1>
            <form action="#" class="mb-5">
              <div class="form-group">
                <input type="text" name="" id="name" class="form-control bg-transparent border-primary p-4" placeholder="Nom"
                       required="required" />
              </div>
              <div class="form-group">
                <input type="email" name="" id="email" class="form-control bg-transparent border-primary p-4" placeholder="Email"
                       required="required" />
              </div>
              <div class="form-group">
                <div class="date" id="date" data-target-input="nearest">
                  <input type="text" name="" placeholder="Date" data-target="#date" class="form-control bg-transparent border-primary p-4 datetimepicker-input" data-toggle="datetimepicker"/>
                </div>
              </div>
              <div class="form-group">
                <div class="time" id="time" data-target-input="nearest">
                  <input type="text" class="form-control bg-transparent border-primary p-4 datetimepicker-input" placeholder="Heure" data-target="#time" data-toggle="datetimepicker"/>
                </div>
              </div>
              <div class="form-group">
                <select class="custom-select bg-transparent border-primary px-4" style="height: 49px;">
                  <option selected>Personne</option>
                  <option value="1">1 Personne</option>
                  <option value="2">2 Personnes</option>
                  <option value="3">3 Personnes</option>
                  <option value="4">4 Personnes</option>
                </select>
              </div>

              <div>
                <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Réserver maintenant</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Reservation End -->
