<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Ajouter des Événements</h1>
  <p class="mb-4">Cette page vous permet d'ajouter facilement des événements tels qu'un anniversaire, une soirée ou tout
    autre moment important. Vous pouvez également créer des rappels pour ne rien oublier. Simplifiez votre organisation
    grâce à une interface intuitive et rapide.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header profile py-3">
      <h6 class="m-0 font-weight-bold text-primary">Données de l'événement</h6>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="row">

          <div class="col-md-6 border-right">
            <div class="p-3 py-5">
              <div class="col-md-12">
                <label class="labels" for="action">Action</label>
                <input id="action" type="text" [(ngModel)]="formData.action" name="action" class="form-control"
                       placeholder="Saisie l'action">
              </div>
              <br>
              <div class="col-md-12">
                <label class="labels">Type événement</label>
                <div class="col-sm-10">

                  @for (eventType of typeEvents; track eventType) {
                    <div class="form-check">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="eventType"
                        [(ngModel)]="formData.typeEvent"
                        [value]="eventType"
                        id="gridRadios{{ eventType }}"
                        [checked]="formData.typeEvent === eventType">
                      <label class="form-check-label" for="gridRadios{{ eventType }}">
                        {{ eventType }}
                      </label>
                    </div>
                  }
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 ">
            <div class="p-3 py-5">
              <div class="col-md-12">
                <label class="labels">Date début</label>
                <div class="date" id="dateDebut" data-target-input="nearest">
                  <input type="date" name="dateDebut" [(ngModel)]="formData.dateDebut" class="form-control">
                </div>
              </div>
              <br>
              <div class="col-md-12">
                <label class="labels">Date fin</label>
                <div class="date" id="dateFin" data-target-input="nearest">
                  <input type="date" name="dateFin" [(ngModel)]="formData.dateFin" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" type="submit">Créez l'événement</button>
        </div>
      </form>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
