<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Petit-déjeuner</h1>
  <p class="mb-4">Cette liste répertorie les réservations effectuées par les clients ou par l'administrateur via un appel téléphonique. Dans cet espace, nous examinons chaque demande de réservation pour ensuite décider de la valider ou de la refuser, en fonction des critères établis et des disponibilités.</p>

  <div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary"><img [src]="tableImage" width="50" height="50" alt="">{{ tableTitle }}</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="input-group mb-3 col-sm-4">
              <input type="text" id="searchId" class="form-control" placeholder="Filtre par Article" aria-label="Recherche" [(ngModel)]="searchText">
            </div>
          </div>
        </div>
        <table class="table table-striped table-hover">
          <thead>
          <tr>
            <th>Photo</th>
            <th>Article</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Etat</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>

          <tr *ngFor="let menu of filteredBreakfast | paginate: { itemsPerPage: 10, currentPage: p }; trackBy: trackByFn" >
            <td><img src="{{menu.imageUrl}}" width="80px" height="80px" style="border-radius: 50%;" alt=""></td>
            <td>{{menu.article}}</td>
            <td>{{menu.price}}</td>
            <td>{{menu.description}}</td>
            <td>{{menu.etat}}</td>
            <td>
              <a class="edit" (click)="openEditModal(menu)"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
              <a class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
            </td>
          </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>


  <app-dialog *ngIf="generalService.showDialog" [title]="'Modifier Article'">
    <div class="modal-body">
      <div class="title-body">
        <h5 class="warning-text">Souhaitez-vous vraiment apporter des modifications à cette <strong>petit-déjeuner </strong>?</h5>
      </div>
      <div class="content-body">
        <form [formGroup]="editForm" novalidate>

          <div class="form-group">
            <label>Photo d'Article:</label>
            <div class="input-group">
              <div class="image-container">
                <div class="image-placeholder" id="image-placeholder">
                  <img [src]="editForm.get('imageUrl')?.value" alt="Selected Image" />
                </div>
                <button type="button" class="select-photo-btn" (click)="onSelectPhoto()">Sélectionner une Photo</button>
                <input type="file" id="file-input" accept="image/*" (change)="onFileSelected($event)" style="display: none;">
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Article:</label>
            <div class="input-group">
              <input formControlName="article" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label>Prix:</label>
            <div class="input-group">
              <input formControlName="price" class="form-control">
            </div>
          </div>

          <div class="form-group">
            <label>Description:</label>
            <div class="input-group">
              <textarea formControlName="description" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">Type d'Article:</label>
            <div class="input-group">
              <select class="form-control" formControlName="typeArticle" aria-label="Default select example">
                <option selected>Sélectionner...</option>
                <option *ngFor="let type of menuTypes" [value]="type">{{ type }}</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label class="form-label">État:</label>
            <div class="input-group">
              <select class="form-control" formControlName="etat" aria-label="Default select example">
                <option selected>Sélectionner...</option>
                <option *ngFor="let etat of menuEtats" [value]="etat">{{ etat }}</option>
              </select>
            </div>
          </div>


          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" (click)="EditArticleMenu()">Modifer</button>
            <button type="button" class="btn btn-secondary" aria-label="Close" (click)="closeEditModal()">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </app-dialog>

</div>

</div>
<!-- /.container-fluid -->
