@if(showPageHeader){
  <app-navbar></app-navbar>
}
<!-- Page Header Start -->
@if(showPageHeader){
  <div class="container-fluid page-header mb-5 position-relative overlay-bottom">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
      <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">{{avis.title}}</h1>
      <div class="d-inline-flex mb-lg-5">
        <p class="m-0 text-white"><a class="text-white" href="">{{ avis.urlPrevious }}</a></p>
        <p class="m-0 text-white px-2">/</p>
        <p class="m-0 text-white">{{avis.urlCurrent}}</p>
      </div>
    </div>
  </div>
}
<!-- Page Header End -->

<!-- Avis Clients Start -->
<div class="container-fluid my-5" id="reserve">
  <div class="container">
    <div class="reservation position-relative overlay-top overlay-bottom">
      <div class="row align-items-center">
        <div class="col-lg-6 my-5 my-lg-0">
          <div class="p-5 stars">
            <div class="mb-4">
              <h1 class="text-primary">{{avis.avisTitre}}</h1>
            </div>
            <img src="./assets/img/pngwing.png" style="width: 300px; height: auto;" alt="">
            <p class="text-white">{{avis.avisTexte}}</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="text-center p-5" style="background: rgba(51, 33, 29, .8);">
            <form (ngSubmit)="onSubmit()" #avisForm="ngForm" class="mb-5">
              <div class="form-group">
                <select name="civilite" [(ngModel)]="formData.civilite" class="custom-select bg-transparent border-primary px-4" style="height: 49px;">
                  <option value="" selected disabled>{{avis.civiliteForm}}</option>
                  @for (testimonialCivilite of testimonialCivilites; track testimonialCivilite){
                    <option [value]="testimonialCivilite">{{ testimonialCivilite }}</option>
                  }
                </select>
              </div>
              <div class="form-group">
                <input type="text" name="name" [(ngModel)]="formData.nom" class="form-control bg-transparent border-primary p-4" placeholder="{{avis.nomForm}}" required />
              </div>
              <div class="form-group">
                <input type="text" name="prenom" [(ngModel)]="formData.prenom" class="form-control bg-transparent border-primary p-4" placeholder="{{avis.prenomForm}}" required />
              </div>
              <div class="form-group">
                <input type="email" name="email" [(ngModel)]="formData.email" class="form-control bg-transparent border-primary p-4" placeholder="{{avis.emailForm}}" required />
              </div>
              <div class="form-group">
                <label>
                  {{avis.serviceForm}}
                  <app-start-rating [rating]="1"></app-start-rating>
                </label>
              </div>
              <div class="form-group">
                <label>
                  {{avis.propreteForm}}
                  <app-start-rating [rating]="1"></app-start-rating>
                </label>
              </div>
              <div class="form-group">
                <label>
                  {{avis.nourritureForm}}
                  <app-start-rating [rating]="1"></app-start-rating>
                </label>
              </div>
              <div class="form-group">
                <label>
                  {{avis.appreciationForm}}
                  <app-start-rating [rating]="1"></app-start-rating>
                </label>
              </div>
              <div class="form-group">
                <textarea type="text" name="commentaire" [(ngModel)]="formData.commentaire" class="form-control bg-transparent border-primary p-4" placeholder="{{avis.commentaireForm}}" required ></textarea>
              </div>
              <div>
                <button class="btn btn-primary btn-block font-weight-bold py-3" type="submit">Envoyer</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Avis Clients End -->
@if(showPageHeader){
  <app-footer></app-footer>
}
