<!-- Page Header Start -->
@if(showPageHeader){
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
  <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
    <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Témoignages</h1>
    <div class="d-inline-flex mb-lg-5">
      <p class="m-0 text-white"><a class="text-white" href="">Accueil</a></p>
      <p class="m-0 text-white px-2">/</p>
      <p class="m-0 text-white">Témoignages</p>
    </div>
  </div>
</div>
}
<!-- Page Header End -->

<!-- Testimonial Start -->
<div class="container-fluid py-5">
  <div class="container">
    <div class="section-title">
      <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Témoignages</h4>
      <h1 class="display-4">Ce que disent nos clients</h1>
    </div>
    <div class="owl-carousel testimonial-carousel">
      <div class="testimonial-item">
        <div class="d-flex align-items-center mb-3">
          <img class="img-fluid" src="./assets/img/testimonial-1.jpg" alt="">
          <div class="ml-3">
            <h4>Sophie Durand</h4>
            <i>Professeure</i>
          </div>
        </div>
        <p class="m-0">J'ai découvert ce café il y a quelques mois et depuis, je suis fidèle ! L'ambiance chaleureuse, le café délicieux et le service attentionné font de chaque visite un vrai plaisir. Je recommande vivement !</p>
      </div>
      <div class="testimonial-item">
        <div class="d-flex align-items-center mb-3">
          <img class="img-fluid" src="./assets/img/testimonial-2.jpg" alt="">
          <div class="ml-3">
            <h4>Jean Dupont</h4>
            <i>Entrepreneur</i>
          </div>
        </div>
        <p class="m-0">En tant qu'entrepreneur, j'ai souvent besoin d'un endroit calme pour travailler en dehors de mon bureau. Ce café est devenu mon refuge. La connexion Wi-Fi fiable, les sièges confortables et le café savoureux en font mon endroit idéal pour travailler.</p>
      </div>
      <div class="testimonial-item">
        <div class="d-flex align-items-center mb-3">
          <img class="img-fluid" src="./assets/img/testimonial-3.jpg" alt="">
          <div class="ml-3">
            <h4>Marie Dubois</h4>
            <i>Étudiante</i>
          </div>
        </div>
        <p class="m-0">Après une longue journée de cours, rien de mieux qu'un bon café pour se détendre. Ce café est devenu mon endroit préféré pour me ressourcer. L'atmosphère relaxante, la musique douce et les délicieuses pâtisseries en font un véritable havre de paix.</p>
      </div>
      <div class="testimonial-item">
        <div class="d-flex align-items-center mb-3">
          <img class="img-fluid" src="./assets/img/testimonial-4.jpg" alt="">
          <div class="ml-3">
            <h4>Pierre Lambert</h4>
            <i>Artiste</i>
          </div>
        </div>
        <p class="m-0">En tant qu'artiste, je cherche toujours des endroits inspirants pour travailler sur mes projets. Ce café est devenu mon lieu de prédilection. L'ambiance créative, les rencontres intéressantes et le café de qualité en font un lieu unique où je me sens toujours inspiré.</p>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->
