.testimonials__grid {
  width: 100%;
  display: grid;
  gap: 3rem;
}

.card {
  padding: 2rem;
  display: grid !important;
  gap: 10px;
  background-color: rgba(253, 249, 240, 0) !important;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  cursor: grab;
  justify-items: center;
  align-content: center;
}

.card i {
  font-size: 1.5rem;
  color: #DA9F5B;
}

.card p {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0;
}

.card hr {
  width: 40px;
  margin: auto;
  color: #767268;
}

.card img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
  border: 1px solid #33211d;
}

.card .name {
  font-size: 1rem;
  font-weight: bold !important;
  color: #DA9F5B;
  transition: 0.3s;
}

.card .name:hover {
  color: #DA9F5B;
}

.stars i {
  font-size: 12px;
  margin-right: 2px;
}

.stars i:last-child {
  margin-right: 0;
}


/*@media (width < 900px) {*/
/*  .testimonials__grid {*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    gap: 1rem;*/
/*  }*/
/*}*/

/*@media (width < 600px) {*/
/*  .testimonials__grid {*/
/*    grid-template-columns: repeat(1, 1fr);*/
/*  }*/
/*}*/
