.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-container {
  position: relative;
  width: 256px;
  height: 256px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.login-container span {
  position: absolute;
  left: 0;
  width: 32px;
  height: 6px;
  background: #33211D;
  border-radius: 8px;
  transform-origin: 128px;
  animation: animateBlink 3s linear infinite;
}
@keyframes animateBlink {
  0% {
    background: #DA9F5B;
  }
  25% {
    background: #33211D;
  }
}
.login-box {
  position: absolute;
  width: 400px;
}
.login-box form {
  width: 100%;
  padding: 0 50px;
}
h2 {
  font-size: 2em;
  color: #DA9F5B;
  text-align: center;
}
.input-box {
  position: relative;
  margin: 20px 0;
}
.input-box input {
  width: 100%;
  height: 50px;
  background: #FFF;
  border: 2px solid #33211D;
  outline: none;
  font-size: 1em;
  color: #000000;
  padding: 0 20px;
  transition: .5s ease;
}
.input-box input:focus,
.input-box input:valid {
  border-color: #DA9F5B;
}
.input-box label {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #000000;
  pointer-events: none;
  transition: .5s ease;
}
.input-box input:focus~label,
.input-box input:valid~label {
  top: 1px;
  font-size: .8em;
  background: #33211D;
  padding: 0 6px;
  color: #DA9F5B;
}
.forgot-pass {
  margin: -15px 0 10px;
  text-align: center;
}
.forgot-pass a {
  font-size: .85em;
  color: #fff;
  text-decoration: none;
}
.forgot-pass a:hover {
  text-decoration: underline;
}
.btn-Lg {
  width: 100%;
  height: 45px;
  background: #DA9F5B;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  color: #33211D ;
  font-weight: 600;
}
.signup-link {
  margin: 20px 0 10px;
  text-align: center;
}
.signup-link a {
  font-size: 1em;
  color: #DA9F5B;
  text-decoration: none;
  font-weight: 600;
}
.signup-link a:hover {
  text-decoration: underline;
}
.mess-err {
  color: #DA9F5B;
}



