
#overlay {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #00000036;
  z-index: 12;
  justify-content: center;
  align-items: center;
}

#container {
  z-index: 13;
  margin: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 90%;
  max-width: 600px;
  max-height: 85%;
  box-shadow: 5px 5px 6px rgba(19, 19, 19, 0.2);
  border-radius: 10px;
  background-color:#fff;
  overflow-y: auto;
}

#container::-webkit-scrollbar {
  display: none;
}

#header {
  border-bottom: 1px solid #ccc;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font: 22px sans-serif;
  font-weight: bold;
  color: #5a5c69;
  background-color: #f8f9fa;
}

#content {
  flex-grow: 1;
  font: 14px Nunito, -apple-system, "system-ui";
}

#actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}

@media (min-height: 1087px) {
  #container {
    max-height: max-content;
  }
}

