
#overlay {
  display: flex;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: #00000036;
  z-index: 12;
}

#container {
  z-index: 13;
  margin: auto;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 40%;
  height: max-content;
  box-shadow: 5px 5px 6px rgba(19, 19, 19, 0.2);
  border-radius: 10px;
  background-color:#fff;
  display: flex;
  flex-direction: column;
}


#header {
  border-bottom: 1px solid #ccc;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  font: 25px sans-serif;
  font-weight: bold;
  color: #5a5c69;
}

#content {
  flex-grow: 1;
  padding: 10px 30px 0 30px;
  font: 16px Nunito, -apple-system, "system-ui";
}

#actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding: 20px;
}
