<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Profil de l'Utilisateur</h1>
  <p class="mb-4"> Pour mettre à jour votre adresse ou votre numéro de téléphone, utilisez les champs disponibles ci-dessous. Pour des raisons de sécurité, le changement d'adresse e-mail nécessite l'intervention du responsable technique <a class="font-weight-bold" href="https://yasser-taibi.github.io/responsivePortfolioWebsite/">Yasser TAIBI</a>. Veuillez le contacter directement pour toute modification de votre adresse e-mail.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Données Personnelles</h6>
    </div>
    <div class="card-body">
      <form [formGroup]="profileForm" (ngSubmit)="onSave()">
      <div class="row">
        <div class="col-md-3 border-right">
          <div class="d-flex flex-column align-items-center text-center p-3 py-5">
            <img src="{{this.authService.currentUserSig()?.userImage}}" class="rounded-circle mt-5" width="150px" alt="...">
            <span class="font-weight-bold">{{this.authService.currentUserSig()?.userRole}}</span>
            <span class="text-black-50">{{this.authService.currentUserSig()?.email}}</span><span> </span></div>
        </div>

        <div class="col-md-5 border-right">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-center align-items-center mb-3">
              <h4 class="title-center">Mon Profil</h4>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels" for="civilite">Civilité</label>
                <input id="civilite" type="text" class="form-control" value='{{this.authService.currentUserSig()?.civilite}}' readonly></div>
            </div>
              <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels" for="prenom">Prénom</label>
                <input id="prenom" type="text" class="form-control" [value]="firstName" readonly></div>
              <div class="col-md-6">
                <label class="labels" for="nom">Nom</label>
                <input id="nom" type="text" class="form-control" [value]="lastName" readonly></div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels" for="telephone">Numéro de Téléphone</label>
                <input id="telephone" type="text" class="form-control" placeholder="saisie le numéro de téléphone" formControlName="telephone" value="" ></div>
            </div>
          </div>
        </div>

        <div class="col-md-4 ">
          <div class="p-3 py-5">
            <div class="d-flex justify-content-center align-items-center mb-3">
              <h4 class="title-center">Adresse</h4>
            </div>


            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels" for="adresse">Adresse ( Numéro et libellé de la voie )</label>
                <input id="adresse" type="text" class="form-control" placeholder="saisie l'adresse" formControlName="adresse" value=""></div>
              <div class="col-md-12">
                <label class="labels" for="postal_adresse">Code postal</label>
                <input id="postal_adresse" type="text" class="form-control" placeholder="saisie le code postal" formControlName="postal_adresse" value=""></div>
              <div class="col-md-12">
                <label class="labels" for="region_adresse">Région</label>
                <input id="region_adresse" type="text" class="form-control" placeholder="saisie la région" formControlName="region_adresse" value=""></div>

            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <label class="labels" for="ville_adresse">Ville</label>
                <input id="ville_adresse" type="text" class="form-control" placeholder="saisie la ville" formControlName="ville_adresse" value=""></div>
              <div class="col-md-6">
                <label class="labels" for="pays_adresse">Pays</label>
                <input id="pays_adresse" type="text" class="form-control" placeholder="saisie le pays" formControlName="pays_adresse" value=""></div>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-5 text-center">
        <button class="btn btn-primary profile-button" type="submit">Enregistrer</button>
      </div>
      </form>
      <section>
        <h1>User Profiles</h1>
        <ul>
          @for ( profile of profile$ | async; track profile ){
          <li>
            {{profile.nom}}<br>
            {{profile.prenom}}<br>
            {{profile.email}}<br>
            {{profile.telephone}}<br>
            {{profile.civilite}}<br>
            {{profile.userImage}}<br>
            {{profile.adresse}}

          </li>
          }
        </ul>
      </section>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
