.form-control:focus {
  box-shadow: none;
  border-color: #da9f5b;
}

.labels {
  font-size: 12px
}

.title-center {
  color: #858796 !important;
}

.rounded-circle{
  margin-bottom: 20px;
}

.profile {
  display: flex;
  justify-content: space-between;
}

.fas{
  padding-right: 10px;
}

@media (max-width: 560px) {
  .textedit{
    font-size: 0rem !important;
  }
}

textarea.form-control {
  height: 6rem !important;
}


