<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Calendrier des Réservations</h1>
  <p class="mb-4">Ce calendrier interactif permet d’afficher toutes les réservations validées par les administrateurs, avec des options de visualisation par jour, semaine ou mois. Chaque réservation est détaillée avec des informations comme la date, l’heure, et le titre de la réservation, pour facilitant la gestion et le suivi.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>
  <!-- /.container-fluid -->
