<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 position-relative overlay-bottom">
  <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
    <h1 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase">Menu & Tarifs</h1>
    <div class="d-inline-flex mb-lg-5">
      <p class="m-0 text-white"><a class="text-white" href="">Accueil</a></p>
      <p class="m-0 text-white px-2">/</p>
      <p class="m-0 text-white">Menu & Tarifs</p>
    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Menu Start -->
<div class="container-fluid pt-5" id="menu">
  <div class="container">
    <div class="section-title">
      <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Menu & Tarifs</h4>
      <h1 class="display-4">Tarifs Compétitifs</h1>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="row" id="tabs">
          <div class="col-lg-12">
            <div class="heading-tabs">
              <div class="row">
                <div class="col-lg-6 offset-lg-3">
                  <ul>
                    <li><a href='#tabs-1'><img src="./assets/img/tab-icon-01.png" alt="">Boissons Chaudes</a></li>
                    <li><a href='#tabs-2'><img src="./assets/img/tab-icon-02.png" alt="">Boissons froides</a></li>
                    <li><a href='#tabs-3'><img src="./assets/img/tab-icon-03.png" alt="">Petit-déjeuner</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="left-list">
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-1.jpg" alt="">
                              <h5 class="menu-price">5€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café Noir</h4>
                              <p class="m-0">Profitez d'un café noir riche et intense, parfait pour commencer votre journée avec énergie.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-2.jpg" alt="">
                              <h5 class="menu-price">7€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Chocolat</h4>
                              <p class="m-0">Savourez la combinaison parfaite de café et de chocolat pour une expérience gourmande et réconfortante.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-3.jpg" alt="">
                              <h5 class="menu-price">9€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Lait</h4>
                              <p class="m-0">Un café crémeux et doux, parfait pour ceux qui aiment leur café avec une touche de lait.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="right-list">
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-2.jpg" alt="">
                              <h5 class="menu-price">7€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Chocolat</h4>
                              <p class="m-0">Le mélange parfait de café et de chocolat, servi froid pour une pause gourmande et rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-3.jpg" alt="">
                              <h5 class="menu-price">9€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Lait</h4>
                              <p class="m-0">Un café froid crémeux, idéal pour les amateurs de café au lait qui souhaitent une boisson rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-1.jpg" alt="">
                              <h5 class="menu-price">5€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café Noir</h4>
                              <p class="m-0">Un café noir rafraîchissant, parfait pour se désaltérer tout en profitant d'une saveur intense.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="left-list">
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-3.jpg" alt="">
                              <h5 class="menu-price">9€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Lait</h4>
                              <p class="m-0">Un café froid crémeux, idéal pour les amateurs de café au lait qui souhaitent une boisson rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-1.jpg" alt="">
                              <h5 class="menu-price">5€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café Noir</h4>
                              <p class="m-0">Un café noir rafraîchissant, parfait pour se désaltérer tout en profitant d'une saveur intense.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-2.jpg" alt="">
                              <h5 class="menu-price">7€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Chocolat</h4>
                              <p class="m-0">Le mélange parfait de café et de chocolat, servi froid pour une pause gourmande et rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="right-list">
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-1.jpg" alt="">
                              <h5 class="menu-price">5€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café Noir</h4>
                              <p class="m-0">Un café noir rafraîchissant, parfait pour se désaltérer tout en profitant d'une saveur intense.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-3.jpg" alt="">
                              <h5 class="menu-price">9€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Lait</h4>
                              <p class="m-0">Un café froid crémeux, idéal pour les amateurs de café au lait qui souhaitent une boisson rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-2.jpg" alt="">
                              <h5 class="menu-price">7€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Chocolat</h4>
                              <p class="m-0">Le mélange parfait de café et de chocolat, servi froid pour une pause gourmande et rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="left-list">
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-2.jpg" alt="">
                              <h5 class="menu-price">7€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Chocolat</h4>
                              <p class="m-0">Le mélange parfait de café et de chocolat, servi froid pour une pause gourmande et rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-3.jpg" alt="">
                              <h5 class="menu-price">9€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Lait</h4>
                              <p class="m-0">Un café froid crémeux, idéal pour les amateurs de café au lait qui souhaitent une boisson rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-1.jpg" alt="">
                              <h5 class="menu-price">5€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café Noir</h4>
                              <p class="m-0">Un café noir rafraîchissant, parfait pour se désaltérer tout en profitant d'une saveur intense.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="row">
                      <div class="right-list">
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-2.jpg" alt="">
                              <h5 class="menu-price">7€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Chocolat</h4>
                              <p class="m-0">Le mélange parfait de café et de chocolat, servi froid pour une pause gourmande et rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-1.jpg" alt="">
                              <h5 class="menu-price">5€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café Noir</h4>
                              <p class="m-0">Un café noir rafraîchissant, parfait pour se désaltérer tout en profitant d'une saveur intense.</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-12">
                          <div class="row align-items-center mb-5">
                            <div class="col-4 col-sm-3">
                              <img class="w-100 rounded-circle mb-3 mb-sm-0" src="./assets/img/menu-3.jpg" alt="">
                              <h5 class="menu-price">9€</h5>
                            </div>
                            <div class="col-8 col-sm-9">
                              <h4>Café au Lait</h4>
                              <p class="m-0">Un café froid crémeux, idéal pour les amateurs de café au lait qui souhaitent une boisson rafraîchissante.</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Menu End -->
