.active a {
  color: #DA9F5B !important;
}

.left-list, .right-list {
  padding: 15px;
}

/* Image and price styles */
.custom-image-size {
  width: 100px;  /* Ajustez selon vos préférences */
  height: 100px;
  object-fit: cover;
  border: 2px solid #ccc;
}

.menu-price {
  position: absolute;
  font-size: 18px !important;
  font-weight: bold !important;
  color: #33211D !important;
}

.col-4.col-sm-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col-4 {
  flex: 0 0 28%;
  max-width: 33.33333%;
}

@media (min-width: 576px) {
  .col-sm-3 {
    flex: 0 0 20%;
    max-width: 25%;
  }
}

