<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
  <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
    For more information about DataTables, please visit the <a target="_blank"
                                                               href="https://datatables.net">official DataTables documentation</a>.</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row">
              <div class="input-group mb-3 col-sm-6">
                <input type="text" class="form-control" placeholder="Recherche..." aria-label="Recipient's username">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
              </div>
              <!--<div class="col-sm-6">
                <a class="btn btn-success" ><i class="material-icons">&#xE147;</i>
                  <span>Ajouter</span></a>
              </div>-->
            </div>
          </div>
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th>Nom</th>
              <th>Prénom</th>
              <th>Email</th>
              <th>Télephone</th>
              <th>Date</th>
              <th>Heure</th>
              <th>Nb Personne</th>
              <th>Désignation</th>
              <th>Admin</th>
              <th>Etat</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <!-- *ngFor= "let [--obj--] of [--list result in component--] " -->
              @for ( reservation of reservationList | paginate: { itemsPerPage: 5, currentPage: p }; track reservation ){
            <tr>
              <td>{{reservation.nom}}</td>
              <td>{{reservation.prenom}}</td>
              <td>{{reservation.email}}</td>
              <td>{{reservation.tel}}</td>
              <td>{{reservation.formattedDate}}</td>
              <td>{{reservation.formattedTime}}</td>
              <td>{{reservation.people}}</td>
              <td>{{reservation.designation}}</td>
              <td>{{reservation.adminEmail}}</td>
              <td>
                <select [(ngModel)]="reservation.etat" [ngClass]="getEtatClass(reservation.etat)">
                  @for (etat of etatOptions; track etat){
                    <option [value]="etat">{{etat}}</option>
                  }
                </select>
              </td>
              <td>
                <a class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                <a class="delete" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
              </td>
            </tr>
              }

            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
